body {
  margin: 0;
  background-color: #0b1220;
  color: white;
  font-family: Arial, sans-serif;
}

.page {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}
