body {
  margin: 0;
  background: #0b1220;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}
